#top{
	background: rgba(0,0,0,0.5);
}

a{
	color:#FFFFFF;
}

#TitleName{
	text-align:center;
}

#TitleDivText{
	background: rgba(255,255,255,0.5);
}

#TitleDiv{
	padding-top: 5%;
}

.intro-page{
	background-image: url("../img/nyc-background.jpg");
	background-size:100%;
}

.about-me{
	background-image: url("../img/berlin-background.jpg");
	background-size:100%;
}

.contact-me{
	background-image: url("../img/brazil-background.jpg");
	background-size:100%;
}