html{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#top{
	background: rgba(0,0,0,0.8);
}

#navtext{
	color:#FFFFFF;
}

#TitleName{
	text-align:center;
}

#TitleDivText{
	background: rgba(255,255,255,0.5);
}


#AboutMe{
	position:relative;
	margin-left:10%;
	width:80%;
	background: rgba(255,255,255,0.5);

}

#AboutMeText{
	background:rgba(255,255,255,0.5);
	float:right;
	margin-left:50%;

}

#TitleDiv{
	padding-top: 5%;
}

.intro-page{
	background-image: url("../img/nyc-background.jpg");
	max-width:100%;
	height: 100%;
	background-size:100% 100%;
	background-repeat:no-repeat;	
}

.about-me{
	background-image: url("../img/berlin-background.jpg");
	max-width:100%;
	height: 100%;
	background-size:100% 100%;
	background-repeat:no-repeat;	

}

#About-Me-Image{
	position:absolute;
	float:left;
	width:30%;
}

.ProfilePic{
	width:100%;
}

.contact-page{
	background-image: url("../img/brazil-background.jpg");
	max-width:100%;
	height: 100%;
	background-size:100% 100%;
	background-repeat:no-repeat;	
}

#Contact-Me-Text{
	width:50%;
	margin:auto;
	text-align:center;
	background: rgba(255,255,255,0.5);
}

.skills-page{
	background-image: url("../img/china-background.jpg");
	max-width:100%;
	height: 100%;
	background-size:100% 100%;
	background-repeat:no-repeat;	


}

#Contact-Me-text{
	font-size:150%;
}

#About-Me-text-top{;
	padding-top:5%;
	padding-left:5%;
	padding-right:5%;
	padding-bottom: 3%;
	font-size:150%;
}

#About-Me-text-bottom{
	padding: 5%;
	padding-top:0%;
	font-size:150%;
}

#Skills-text{
	text-align:center;
	font-size:150%;
	width:80%;
	margin-top:10%;
	margin:auto;
	background: rgba(255,255,255,0.5);

}